AndroidDatabase/.idea/compiler.xml
AndroidDatabase/.idea/copyright/profiles_settings.xml
AndroidDatabase/.idea/encodings.xml
AndroidDatabase/.idea/gradle.xml
AndroidDatabase/.idea/markdown-navigator/profiles_settings.xml
AndroidDatabase/.idea/misc.xml
AndroidDatabase/.idea/modules.xml
AndroidDatabase/.idea/runConfigurations.xml
